<div class="col-sm-12 bg-white">
  <%= form_tag findekid_path, remote: true, method: :get, id: "find_kid" do %>
    <div class="form-group text-center col-md-12">
      <strong>SEARCH CHILDREN BY MYKID NO</strong><br><br>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-5">
          <%= text_field_tag :ic, params[:ic], 
                  placeholder: "e.g 870829355647 (no dash)",
                  autofocus: true, 
                  class: "form-control search-box input-lg", 
                  style: "text-transform:uppercase",
                  required: true %>
          <%= hidden_field_tag :proge, params[:proge], value: params[:proge] %>
          <%= hidden_field_tag :typ, params[:typ], value: params[:typ] %>
          <%= hidden_field_tag :adm, params[:adm], value: @admin.id %>
        </div>
        <div class="col-1">
          <%= button_tag(type: :submit, class: "btn btn-sm btn-info", id: "submit_expense") do %>
              <i class="fa fa-search"></i> FIND 
          <% end %>
        </div>
        <div class="col-3"></div>
      </div>
      <div id="result_kid">
        <%= render 'ekids/result' %> 
      </div>
    </div>
  <%end%>
</div>


<div class="scontainer">
  <div class="row">

    <div class="col-md-3">
      <div class="card-counter primary">
        <i class="fa fa-code-fork"></i>
        <span class="count-numbers"><%= @ekids.where(stat: "NEW").count %></span>
        <span class="count-name">
          <a href="/ekidindex?stato=NEW", style="color:#fff">New Registrations</a>
          <br><font style="color:#fff">TOTAL:</font>
          <br><font style="color:#fff">LIMIT:</font>
        </span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter danger">
        <i class="fa fa-code-fork"></i>
        <span class="count-numbers"><%= @ekids.where(stat: "REJECT").count %></span>
        <span class="count-name">
          <a href="/ekidindex?stato=REJECT", style="color:#fff">Disqualified/Rejected</a>
          <br><font style="color:#fff">TOTAL:</font>
          <br><font style="color:#fff">LIMIT:</font>
        </span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter success">
        <i class="fa fa-code-fork"></i>
        <span class="count-numbers"><%= @ekids.where(stat: "PENDING").count %></span>
        <span class="count-name">
          <a href="/ekidindex?stato=PENDING", style="color:#fff">Pending</a>
          <br><font style="color:#fff">TOTAL:</font>
          <br><font style="color:#fff">LIMIT:</font>
        </span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter info">
        <i class="fa fa-code-fork"></i>
        <span class="count-numbers"><%= @ekids.where(stat: "CONFIRM").count %></span>
        <span class="count-name">
          <a href="/ekidindex?stato=CONFIRM", style="color:#fff">Next Session</a>
          <br><font style="color:#fff">TOTAL:</font>
          <br><font style="color:#fff">LIMIT:</font>
        </span>
      </div>
    </div>

  </div>
</div>

<hr>LIST OF SCREENING PROGRAMS<hr>
