<div class="col-sm-12 bg-white">
  <%= form_tag findekid_path, remote: true, method: :get, id: "find_kid" do %>
    <div class="form-group text-center col-md-12">
      <strong>SEARCH CHILDREN BY MYKID NO</strong><br><br>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-5">
          <%= text_field_tag :ic, params[:ic], 
                  placeholder: "e.g 870829355647 (no dash)",
                  autofocus: true, 
                  class: "form-control search-box input-lg", 
                  style: "text-transform:uppercase",
                  required: true %>
          <%= hidden_field_tag :proge, params[:proge], value: params[:proge] %>
          <%= hidden_field_tag :typ, params[:typ], value: params[:typ] %>
          <%= hidden_field_tag :adm, params[:adm], value: @admin.id %>
        </div>
        <div class="col-1">
          <%= button_tag(type: :submit, class: "btn btn-sm btn-info", id: "submit_expense") do %>
              <i class="fa fa-search"></i> FIND 
          <% end %>
        </div>
        <br><br><br>
        <div class="col-3"></div>
      </div>
      <div id="result_kid">
        <%= render 'ekids/result' %> 
      </div>
    </div>
  <%end%>
</div>


<div class="scontainer">
  <div class="row">

    <div class="col-md-4">
      <div class="card-counter primary">
        <i class="fa fa-code-fork"></i>
        <span class="count-numbers"><%= @ekids.where(stat: "NEW").count %></span>
        <span class="count-name">
          <a href="/ekidindex?stato=NEW", style="color:#fff">New</a>
        </span>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card-counter danger">
        <i class="fa fa-exclamation-circle"></i>
        <span class="count-numbers"><%= @ekids.where(stat: "REJECT").count %></span>
        <span class="count-name">
          <a href="/ekidindex?stato=REJECT", style="color:#fff">Rejected</a>
        </span>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card-counter info">
        <i class="fa fa-globe"></i>
        <span class="count-numbers"><%= @ekids.where(stat: "MENTOR").count %></span>
        <span class="count-name">
          <a href="/ekidindex?stato=MENTOR", style="color:#fff">Mentor</a>
        </span>
      </div>
    </div>


    <div class="col-md-6">
      <div class="card-counter success">
        <i class="fa fa-pause"></i>
        <span class="count-numbers"><%= @ekids.where(stat: "PENDING").count %></span>
        <span class="count-name">
          <a href="/ekidindex?stato=PENDING", style="color:#fff">Pending</a>
        </span>
      </div>
    </div>

    
    <div class="col-md-6">
      <div class="card-counter primary">
        <i class="fa fa-check-circle"></i>
        <span class="count-numbers"><%= @ekids.where(stat: "CONFIRM").count %></span>
        <span class="count-name">
          <a href="/ekidindex?stato=CONFIRM", style="color:#fff">Confirm</a>
        </span>
      </div>
    </div>

  </div>
</div>

<hr>
<h4>LIST OF SCREENING PROGRAMS</h4>
  <%= link_to "CREATE NEW PROGRAM", new_sce_path, class: "btn btn-sm btn-success" %>
  <%= link_to "EXTRACT OVERALL DATA & REPORT", scexls_path(id: Sce.all.ids,format: :xlsx), class: "btn btn-sm btn-info" %>
  <br><br>


<div class="table-responsive">
  <table class="table table-striped table-bordered" width="100%" cellspacing="0">

    <thead>
      <tr>
        <th style="background-color:#99cc99">NAME</th>
        <th style="background-color:#99cc99">DATE</th>
        <th style="background-color:#99cc99">VENUE</th>
        <th style="background-color:#99cc99">NO OF KIDS</th>
        <th style="background-color:#99cc99">ACTION</th>
      </tr>
    </thead>

    <tbody>
      <% Sce.where(loc: $admloc[@admin.id]).order('date DESC').each do |sc| %>
        <tr>
          <td><%= sc.name %></td>
          <td><%= sc.date.strftime('%d-%^b-%y') %></td>
          <td><%= sc.venue %></td>
          <td><%= sc.ekids.count %></td>
          <td>
            <%= link_to "VIEW", sce_path(sc.id), class: "btn btn-sm btn-primary" %>
            <%= link_to "EDIT", edit_sce_path(sc.id), class: "btn btn-sm btn-warning" %>
            <%= link_to "DELETE", sce_path(sc.id),method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-sm btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
  

<hr>






