<% pk = @ekid.pkid %>

<div class="table-responsive">
  <table class="table table-striped table-bordered" width="100%" cellspacing="0">

    <tbody>
      <tr>
        <td style="background-color:#203764" colspan="2"><strong><font color="white"><h2 align="center"><%= @ekid.name.upcase %> (ID: <%= @ekid.id %>)</h2></font></strong></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td style="background-color:#0070C0" ><font color="white">NO MYKID</font></td>
        <td style="background-color:#D9E1F2"><%= "#{@ekid.ic[0..5]}-#{@ekid.ic[6..7]}-#{@ekid.ic[8..12]}" %></td>
      </tr>
      <tr>
        <td style="background-color:#0070C0" ><font color="white">JANTINA</font></td>
        <td style="background-color:#D9E1F2"><%= @ekid.gdr %></td>
      </tr>
      <tr>
        <td style="background-color:#0070C0" ><font color="white">TARIKH LAHIR</font></td>
        <td style="background-color:#D9E1F2"><%= @ekid.dob.strftime('%d-%^b-%Y') %></td>
      </tr>
      <tr>
        <td style="background-color:#0070C0" ><font color="white">UMUR</font></td>
        <td style="background-color:#D9E1F2"><%= "#{@year} Tahun, #{@month} Bulan" %></td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td style="background-color:#375623" colspan="2"><font color="white"><h4>MAKLUMAT KELUARGA</font></h4></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td style="background-color:#548235" ><font color="white">DAERAH YANG DIDIAMI</font></td>
        <td style="background-color:#E2EFDA"><%= @ekid.dun %></td>
      </tr>
      <tr>
        <td style="background-color:#548235" ><font color="white">ALAMAT TERKINI</font></td>
        <td style="background-color:#E2EFDA"><%= @ekid.addr %></td>
      </tr>
      <tr>
        <td style="background-color:#548235" ><font color="white">NO TELEFON UTAMA</font></td>
        <td style="background-color:#E2EFDA"><%= @ekid.mph %></td>
      </tr>
      <tr>
        <td style="background-color:#548235" ><font color="white">NAMA BAPA</font></td>
        <td style="background-color:#E2EFDA"><%= @ekid.fname %></td>
      </tr>
      <tr>
        <td style="background-color:#548235" ><font color="white">UMUR BAPA</font></td>
        <td style="background-color:#E2EFDA"><%= @ekid.fage %></td>
      </tr>
      <tr>
        <td style="background-color:#548235" ><font color="white">NO TELEFON BAPA</font></td>
        <td style="background-color:#E2EFDA"><%= @ekid.fph %></td>
      </tr>
      <tr>
        <td style="background-color:#548235" ><font color="white">EMAIL BAPA</font></td>
        <td style="background-color:#E2EFDA"><%= @ekid.femail %></td>
      </tr>
      <tr>
        <td style="background-color:#548235" ><font color="white">TAHAP PENDIDIKAN BAPA</font></td>
        <td style="background-color:#E2EFDA"><%= @ekid.fedu %></td>
      </tr>
      <tr>
        <td style="background-color:#548235" ><font color="white">ADAKAH BAPA BEKERJA</font></td>
        <td style="background-color:#E2EFDA"><%= @ekid.fwork %></td>
      </tr>
      <tr>
        <td style="background-color:#548235" ><font color="white">PEKERJAAN BAPA</font></td>
        <td style="background-color:#E2EFDA"><%= @ekid.fworktp %></td>
      </tr>
      <tr>
        <td style="background-color:#548235" ><font color="white">NAMA IBU</font></td>
        <td style="background-color:#E2EFDA"><%= @ekid.mname %></td>
      </tr>
      <tr>
        <td style="background-color:#548235" ><font color="white">UMUR IBU</font></td>
        <td style="background-color:#E2EFDA"><%= @ekid.mage %></td>
      </tr>
      <tr>
        <td style="background-color:#548235" ><font color="white">NO TELEFON IBU</font></td>
        <td style="background-color:#E2EFDA"><%= @ekid.mmph %></td>
      </tr>
      <tr>
        <td style="background-color:#548235" ><font color="white">EMAIL IBU</font></td>
        <td style="background-color:#E2EFDA"><%= @ekid.memail %></td>
      </tr>
      <tr>
        <td style="background-color:#548235" ><font color="white">TAHAP PENDIDIKAN IBU</font></td>
        <td style="background-color:#E2EFDA"><%= @ekid.medu %></td>
      </tr>
      <tr>
        <td style="background-color:#548235" ><font color="white">ADAKAH IBU BEKERJA</font></td>
        <td style="background-color:#E2EFDA"><%= @ekid.mwork %></td>
      </tr>
      <tr>
        <td style="background-color:#548235" ><font color="white">PEKERJAAN IBU</font></td>
        <td style="background-color:#E2EFDA"><%= @ekid.mworktp %></td>
      </tr>
      <tr>
        <td style="background-color:#548235" ><font color="white">BILANGAN TANGGUNGAN</font></td>
        <td style="background-color:#E2EFDA"><%= @ekid.sib %></td>
      </tr>
      <tr>
        <td style="background-color:#548235" ><font color="white">SEJARAH LEWAT PERKEMBANGAN IBU-BAPA</font></td>
        <td style="background-color:#E2EFDA"><%= @ekid.phist %></td>
      </tr>
      <tr>
        <td style="background-color:#548235" ><font color="white">JENIS LEWAT PERKEMBANGAN IBU-BAPA</font></td>
        <td style="background-color:#E2EFDA"><%= @ekid.phisttp %></td>
      </tr>
      <tr>
        <td style="background-color:#548235" ><font color="white">PENDAPATAN ISI RUMAH SEBULAN (RM)</font></td>
        <td style="background-color:#E2EFDA"><%= @ekid.pinc %></td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td style="background-color:#833C0C" colspan="2"><font color="white"><h4>MAKLUMAT PERKEMBANGAN</h4></font></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td style="background-color:#C65911" ><font color="white">Adakah Anak Anda Memperoleh Rujukan Pakar Sebelum Ini?</font></td>
        <td style="background-color:#FCE4D6"><%= @ekid.ref %></td>
      </tr>
      <tr>
        <td style="background-color:#C65911" ><font color="white">Jika Ya, dimanakah anak anda dirujuk?</font></td>
        <td style="background-color:#FCE4D6"><%= @ekid.refloc %></td>
      </tr>
      <tr>
        <td style="background-color:#C65911" ><font color="white">Lewat perkembangan yang dialami</font></td>
        <td style="background-color:#FCE4D6"><%= @ekid.prbtp %></td>
      </tr>
      <tr>
        <td style="background-color:#C65911" ><font color="white">Maklumat perkembangan jika lain-lain</font></td>
        <td style="background-color:#FCE4D6"><%= @ekid.prbot %></td>
      </tr>
      <% pk.devkid.each do |k,v| %>
        <tr>
          <td style="background-color:#C65911" ><font color="white"><%= k %></font></td>
          <td style="background-color:#FCE4D6"><%= v %></td>
        </tr>
      <% end %>
    </tbody>


    <tbody>
      <tr>
        <td style="background-color:#203764" colspan="2"><font color="white"><h4>MAKLUMAT TAMBAHAN</h4></font></td>
      </tr>
    </tbody>
    <tbody>
      <% pk.addfo.each do |k,v| %>
        <tr>
          <td style="background-color:#0070C0" ><font color="white"><%= k %></font></td>
          <td style="background-color:#D9E1F2"><%= v %></td>
        </tr>
      <% end %>
      <% pk.health.each do |k,v| %>
        <tr>
          <td style="background-color:#0070C0" ><font color="white"><%= k %></font></td>
          <td style="background-color:#D9E1F2"><%= v %></td>
        </tr>
      <% end %>
      <% pk.birth.each do |k,v| %>
        <tr>
          <td style="background-color:#0070C0" ><font color="white"><%= k %></font></td>
          <td style="background-color:#D9E1F2"><%= v %></td>
        </tr>
      <% end %>
      <% pk.grow.each do |k,v| %>
        <tr>
          <td style="background-color:#0070C0" ><font color="white"><%= k %></font></td>
          <td style="background-color:#D9E1F2"><%= v %></td>
        </tr>
      <% end %>
      <% pk.physpch.each do |k,v| %>
        <tr>
          <td style="background-color:#0070C0" ><font color="white"><%= k %></font></td>
          <td style="background-color:#D9E1F2"><%= v %></td>
        </tr>
      <% end %> 
    </tbody>

    <tbody>
      <tr>
        <td style="background-color:#7030A0" colspan="2"><font color="white"><h4>KEBENARAN UNTUK PENILAIAN DAN INTERVENSI</h4></font></td>
      </tr>
    </tbody>
    <tbody>
      <% pk.agr.each do |k,v| %>
        <tr>
          <td style="background-color:#B04EFF" ><font color="white"><%= k %></font></td>
          <td style="background-color:#F7A4FF"><%= v %></td>
        </tr>
      <% end %>
    </tbody>

    

  </table>
</div>