<%= render partial: "shared/flash_messages", flash: flash %>
<% if @perse.present? %>
  <% @perse.each do |prs| %>
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="frontside">
        <div class="card">
          <div class="card-body text-center">
            <h6 class="card-title"><%= prs.name %></h6>
            <p class="card-text">
              <%= prs.ic %>
            </p>
              <% if params[:typ] == "reg" %>
                <% if prs.proges.where(id: params[:proge]).present? %>
                  <%= link_to regconf_path(perse: prs.id, proge: params[:proge]), class:"btn btn-sm btn-danger active" do %>
                    <i class="fa fa-user-plus"></i> VIEW CONFIRMATION 
                  <% end %>
                <% else %>
                  <%= link_to regproge_path(perse: prs.id, proge: params[:proge]), class:"btn btn-sm btn-info active" do %>
                    <i class="fa fa-user-plus"></i> REGISTER
                  <% end %>
                  <%= link_to editreg_path(id: prs.id, proge: params[:proge]), class:"btn btn-sm btn-success active" do %>
                    <i class="fa fa-edit"></i> EDIT
                  <% end %>
                <% end %>

              <% elsif params[:typ] == "att"%>

                <% if @perproge.present? %>
                  <% if @perproge.stat == "REG" %>
                    <%= link_to cfmatt_path(id: prs.id, perproge: @perproge.id, proge: params[:proge]), class:"btn btn-sm btn-success active" do %>
                      <i class="fa fa-edit"></i> REGISTERED. PLEASE CLICK HERE TO CONFIRM. 
                    <% end %>
                  <% elsif @perproge.stat == "ATT" || @perproge.stat == "BOTH" %>
                   <%= link_to attconf_path(id: @perproge.id), class:"btn btn-sm btn-success active" do %>
                      <i class="fa fa-edit"></i> ATTENDANCE CONFIRMED 
                    <% end %>
                  <% end %>
                <% else %>
                  <%= link_to regatt_path(id: prs.id, proge: params[:proge]), class:"btn btn-sm btn-success active" do %>
                    <i class="fa fa-edit"></i> NO REGISTRATION FOUND. CLICK HERE TO REGISTER AND CONFIRM.  
                  <% end %>
                <% end %>

              <% end %>
              
          </div>
        </div>
      </div>
    </div>
  <% end %> 
<% elsif @perse.blank? && params[:ic].present? && params[:typ] == "reg" %>

  <%= link_to newreg_path(proge: params[:proge], ic: params[:ic]), class:"btn btn-sm btn-success active" do %>
    <i class="fa fa-edit"></i> CLICK HERE TO REGISTER
  <% end %>
<% elsif @perse.blank? && params[:ic].present? && params[:typ] == "att" %>

  <%= link_to newatt_path(ic: params[:ic], proge: params[:proge]), class:"btn btn-sm btn-success active" do %>
    <i class="fa fa-edit"></i> CLICK HERE TO REGISTER AS WALK IN
  <% end %>
<% end %> 

  




