<h3>SHOW PROGE</h3>

<%= @proge.name %><br>
<%= @proge.date %><br>
<%= @proge.venue %><br>
<%= @proge.start %><br>
<%= @proge.end %><br>

<% if params[:tp] == "reg" || params[:tp] == "summ" %>
  <h5> TOTAL REG: <%= (prg = Perproge.where(proge_id: @proge.id).where.not(stat: "ATT")).count %> </h5>
  REGISTRATIONS: <br>
  <ol>
    <% prg.each do |proge| %>
      <li><%= "#{proge.perse.name} (#{proge.perse.ic})" %></li>
    <% end %>
  </ol>
  <%= link_to namelistxls_path(format: :xlsx, tp: "reg", proge: @proge.id), class: "btn btn-sm btn-info active" do %>
    <i class="fa fa-file-excel"></i> REGISTRATION LIST
  <% end %>
<% end %>

<% if params[:tp] == "att" || params[:tp] == "summ" %>
  <h5> TOTAL ATT: <%= (prg = Perproge.where(proge_id: @proge.id).where.not(stat: "REG")).count %> </h5>
  ATTENDANCE: <br>
  <ol>
    <% prg.each do |proge| %>
      <li><%= "#{proge.perse.name} (#{proge.perse.ic})" %></li>
    <% end %>
  </ol>
  <%= link_to namelistxls_path(format: :xlsx, tp: "att", proge: @proge.id), class: "btn btn-sm btn-info active" do %>
    <i class="fa fa-file-excel"></i> ATTENDANCE LIST
  <% end %>
<% end %>